*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "work sans";
}
html,body{
    height: 100%;
    width: 100%;

}
#main{
    height: 100%;
    width: 100%;
     background-color: rgb(255, 255, 255); 
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0px 90px;
    padding-top: 150px;
}
#left{
    height: 100%;
    width: 48%;
    /* background-color: rgb(221, 239, 20); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#right{
    height: 100%;
    width: 48%;
    /* background-color: rgb(251, 141, 141); */
}
#left h1{
    font-size: 100px;
    padding: 10px 40px;
    line-height: 80px;
    font-weight: 25;
    /* background-color: blue; */
}
#bottom-left{
    height: 40%;
    width: 100%;
    /* background-color: rgb(93, 93, 117); */
}
#color{
    background-color: white;
    width: fit-content;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid black;
}
#color h5{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 500;
}
#color1{
    height:20px;
    width: 20px;
    background-color: rgb(247, 198, 3);
    border-radius: 50%;
    margin: 3px;
}
#color2{
    height:20px;
    width: 20px;
    background-color: rgb(250, 18, 18);
    border-radius: 50%;
}
#left h2{
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 10px;
}
#left p{
    font-size: 20px;
    width: 70%;
    color: #444;
    line-height: 30px;
}
#right{
    height: 84.8%;
    width: 38%;
    /* background-color: rgb(108, 8, 8); */
    margin-bottom: 0px;
    position: relative;
    /* padding: 50px; */
    margin-top: 0px;
    
}
#right-top {
    height: 80px;
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10; */
}
#right-top h4 {
    font-size: 30px;
    font-weight: 400;
    font-family: work sans;
}
#right-top h5{
    font-size: 16px;
    font-weight: 60;
}
#right-top h5 i{
    color: gold;
}
#right img{
    height: 94%;
    width: 100%;
    object-fit: cover;
}
#black-gola{
    height: 120px;
    width: 120px;
    background-color: rgb(33, 14, 53);
    position: absolute;
    color: white;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    right: -65px;
    top: 30%;

}
black-gola h5{
    font-size: 12px;
    font-weight: 600;
}
#rotated{
    position: absolute;
    left: -5%;
    /* background-color: aqua; */
    bottom: 0;
    rotate:-90deg;
    transform-origin: 0 0;
    color: rgb(0, 0, 0);
    font-weight: 6;

}