*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(20, 160, 220);
    display: grid;
   /* grid-template-columns: 20% 20% 20% 20% 20% ;
    grid-template-rows: 20% 20% 20% 20% 20%;
    align-items: center;
   justify-items: center;*/
    grid-template-columns: 200px 200px;
   grid-template-rows: 200px 200px;
   align-content: space-between;
   justify-content: space-between;
}
.elem{
    height: 200px;
    width: 200px;
    background-color: crimson;
    border: 3px solid #100303;
}