*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#nav{
    display:grid;
    /* background-color: aqua; */
    grid-template-columns: 50% 10% 10% 10% 10% 10%;
    grid-template-rows: 100px;
    align-items: center;
    justify-items: center;
    padding: 0 20px;
    

}
#nav h1{
    justify-self: start;
}