*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#box{
    margin: 20px 30px 40px 50px;
    padding: 40px 30px 20px 50px;
    width: 250px;
    height: 250px;
    background-color: brown;
}
#box{
    border: 8px solid orange;
    border-radius: 50%;
}
a{
    display: block;
    display: inline;
    display: inline-block;
    height: 20px;
    width:50px;
    font-size: large;
}
#car1{
    height: 50px;
    width: 50px;
    background-color: brown;
    position: absolute;
    left: 40px;

}
#car2{
    height: 60px;
    width: 70px;
    position: absolute;
    background-color: rgb(98, 211, 6);
    
}
#car3{
    height: 90px;
    width: 20px;
    background-color: rgb(236, 150, 150);
    
}
#boxx{
    height: 300px;
    width: 300px;
    background-color: blue;
    position: relative;
}
#cube{
    height: 30px;
    width: 30px;
    background-color: rgb(144, 194, 49);
    position: relative;
    top: 50%;
}
#ok{
    height:200px;
    width:200px; 
    background-color: rgb(214, 12, 39);
    background: url("lk.jpg");
    background-size: cover;
    background-position: center;
}
#big{
    width:300px;
    height: 300px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;

}
#one{
    width: 30px;
    height: 30px;
    background-color: red;
}
#two{
    width: 30px;
    height: 30px;
    background-color: rgb(19, 247, 88);
}
#three{
    width: 30px;
    height: 30px;
    background-color: rgb(18, 26, 5);
}
p{
    width:fit-content;
    position: relative;
}
p::before{
    position: absolute;
    top: 100%;
    background-color: black;
    width: 100%;
    content: '';
    height: 3px;
}
h1::first-line{
    color: brown;
}
h1::first-letter{
    color: rgb(77, 16, 244);
    font-size: 120px;
}
h1::selection{
    color: rgb(239, 139, 139);
}
h3:hover{
    color: brown;
}
button:active{
    background-color: aqua;
}
button:hover{
    background-color: blueviolet;
}
p:nth-child(2){
    color: rgb(87, 21, 149);
}
