*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #F5F1EA;
}
#nav{
    height: 100px;
    width: 100%;
    display: flex;
    /* background-color: rgb(40, 201, 107); */
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 0 30px;
    
}
#nav h4{
    font-size: 20px;
    font-weight: 60;
}
#nav i{
    background-color:#111111;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    font-weight: 500;
}
#center{
    /* background-color: aqua; */
    width: 100%;
    padding: 40px 90px;
}

#center h1{
    font-size: 80px;
    color: #111111;
    font-weight: 2;
    line-height: 80px;
}
#center-in{
    height: 200px;
     /* background-color: rgb(44, 91, 222);  */
    width:100%;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;

}
center p{
    color: #5C5C5C;
}
#center-in{
    font-size: 20px;
    font-weight: 60;
    line-height: 20px;

}
#right{
    width: 20%;
}
.elem{
    /* background-color: azure; */
    margin: 5px;
    padding: 20px 0;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.elem a{
    color: black;
    text-decoration: none;
    font-weight: 60;
    font-size: 20px;
}
.elem i{
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
}
.elem:hover i{
    opacity: 1;
}
.elem:hover{
    background-color: rgb(184, 182, 182);
}
#bottom{
    height: 18.1%;
    background-color: brown;
    background-image: url(https://images.unsplash.com/photo-1623557685287-e94b273c1740?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 100%;
    background-size: cover;
     background-position: 35% 66%; 

}



















