*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    height:300px;
    width: 300px;
    background-color: red;
}
h1{
    color: brown;
    background-color: aqua;
}
h2{
    font-family: italiana;
    font-weight: 90;
    text-transform: capitalize;
    text-transform: uppercase;
    text-transform: lowercase;
    text-decoration: underline;
    text-decoration: line-through;
    font-size: 2vw;
}
h3{
    line-height: 40px;
    line-height: 1.5;
}
h4{
    text-align: right;
    text-align: justify;
    text-align: center;
}